BasedOnStyle: Google

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true

SpaceBeforeParens: ControlStatements

PointerAlignment: Left

SortIncludes: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

IndentCaseLabels: true

MaxEmptyLinesToKeep: 1

BinPackArguments: true
BinPackParameters: true

PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakAssignment: 10
PenaltyReturnTypeOnItsOwnLine: 1000

KeepEmptyLinesAtTheStartOfBlocks: false
